/* Importing various CSS stylesheets, which were used to simplify the code */
@import url("setup.css");
@import url("transitions.css");
@import url("aboutme.css");

/* Background */
body
{
	position: fixed;
	top: 7.5vh;
	width: 100%;
	height: 76vh;
	background-color: #FBB865;
	background-image: url("../images/background.png");
	/* background-repeat: no-repeat;
	background-size: cover; */
	background-attachment: fixed;
	background-size: 100% 100%;
	display: flex;
	flex-direction: row;
}

#foreground-top, #foreground-bottom
{
	position: fixed;
	width: 105vw;
}

#foreground-top
{
	top: -15vh;
	left: -2.5vw;
}

#foreground-bottom
{
	bottom: -15vh;
	left: -4.75vw;
}

/* Layout */

#menu
{
	display: flex;
	flex-direction: column;
	width: 25vw;
	border-right: #93583A 10px solid;
}

main
{
	width: 75vw;
	overflow: scroll;
	scrollbar-width: none;
}

/* Header */
#title-container, #title-container-mobile
{
	margin-top: 24pt;
	width: 75%;
	align-self: center;
	height: 25%;
}

#title-container img, #title-container-mobile img
{
	width: 100%;
}

#title-container-mobile
{
	display: none;
}

nav
{
	display: flex;
	align-items: center;
	height: 75%;
	display: block;
	margin-top: 48pt;
}

nav li {
	list-style-type: none;
	text-align: right;
}

nav a
{
	font-family: "apercu-bold", sans-serif;
	font-size: 36pt;
	padding: 1pt 10pt;
	padding-left: auto;
}

/* Main content */
#main
{
	width: 50%;
	/* margin: 16pt; */
	margin-left: auto;
	margin-right: auto;
}

#main p
{
	font-size: 20pt;
}

#page-title-container
{
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-family: "apercu-italic", sans-serif;
	font-size: 42pt;
	line-height: 0.85;
	rotate: 3deg;
}

#main-container
{
	justify-self: center;
}

/* Footer */
footer
{
	display: none;
}

@media all and (orientation: portrait) {
	#menu
	{
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: #4D2F23;
	}
	
	#title-container
	{
		display: none;
	}
	
	#title-container-mobile
	{
		display: block;
		top: 25%;
		margin-left: auto;
		margin-right: auto;
	}
	
	nav a
	{
		color: #FBB865;
		font-size: 350%;
		padding: 1pt 20pt;
	}
	
	#foreground-top
	{
		top: -4vh;
	}
	
	#foreground-bottom
	{
		bottom: -4vh;
	}
	
	#main
	{
		width: 97.5%;
	}
	
	#main p
	{
		font-size: 14pt;
	}
	
	#page-title-container
	{
		font-size: 24pt;
	}
	
	footer
	{
		display: block;
		position: fixed;
		height: 15vh;
		right: -5vh;
		bottom: -2.5vh;
	}
	
	footer img
	{
		height: 100%;
	}
}